*{
    box-sizing: border-box;
}
:root{
    --white-transparent:#00000000;
    --white:#fff;
    --grey:#373737;
    --bg-green:#16A085;
    --bg-green-hover:#135f50;
    --bg-grey:#F5F6F7;
}
/* General */
body{
    font-family: 'Roboto', sans-serif;
    margin:0;
    padding:0;
}

.img{
    display: block;
    width: 100%;
    height: auto;
    -o-object-fit: cover;
       object-fit: cover;  
}

.custom-h1{
    font-weight: 300;
    letter-spacing: 5.4px;
    font-size:calc(1.375rem + 1.5vw);
}

.custom-h2{
    font-weight: 300;
    font-size: calc(1.25rem + .3vw);
    letter-spacing: 2.4px;
    line-height: 1.4;
    
}

.custom-p{
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 2.4px;
    width: 80%;
    line-height: 24px;
}

.custom-btn{
    background-color: var(--bg-green);
    font-size: 12px;
    letter-spacing: 1.8px;
    border:transparent;
    border-radius: 3px;
    transition:all .2s linear;
    padding:20px 25px ;
}

.custom-btn:hover{
    background-color: var(--bg-green-hover);
}

.custom-btn:focus{
    background-color: var(--bg-green-hover);
}


/* Header */

.header{
    background-image: url(./img/BG.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    min-height: 100vh;
    -o-object-fit: cover;
       object-fit: cover;
}


.nav-wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.main-wrapper{
    min-height:90vh;
}

.nav-h2{
    transition:all .3s linear;

}

.nav-h2:hover{
    color:var(--bg-green);
}

.close-modal{
    align-self: flex-end;
    width: 50px;
    background-color: var(--bg-green);
    border:none;
    margin:10px;
    color:var(--white);
    border-radius: 3px;
}

.style-link{
    text-decoration: none;
    font-weight: 300;
}

.nav-link{
    margin: 0.5rem 0;
}

.main-btn{
    font-size: 35px;
}

.fab{
    font-size: 30px;
    transition:all .2s linear;
}

.fab:hover{
    color:var(--bg-green);
}

.bars-section{
    width:100%;
    height:100%;
    position:fixed;
    background-image: url(./img/BG@2x.png);
    background-position: top left ;
    background-size: cover;
    top:0;
    left:0;
    display: none;
    flex-direction: column;
}



/* PhotoApp */

.custom-h2--app{
    color:var(--bg-green);
}


.list-style{
    list-style: none;
    
}

.photoApp{
    background-image: url(./img/HandPhone.png);
    background-size: cover;
    background-position: top ;
    padding:8rem 0;
}

/* Design */


.design{
    margin-top: 8.75rem;
}

span{
    display: block;
}

.angle-arrow{
    border:transparent;
    font-size: 22px;
    background-color: transparent;
    width: 20px;
}

.green-iphone{
    width: auto;
}

.img-logo-green{
    width: auto;
    margin: 0 auto;
    
}

.custom-card{
    height:200px;
}

/* Comunnity */

.community{
    padding:4rem 0;
    background-color: var(--bg-grey);
}

/* Subscribe */

.subscribe{
    min-height: 100vh;
    background-image: url(./img/input.png);
    background-size: cover;
    background-repeat: no-repeat;
    position:relative;
}

.form-subscribe{
    min-height: 100%;
}

.input{
    width: 280px;
    height: 50px;
    border:transparent;
}

.input::-webkit-input-placeholder{
    padding-left:0.5rem;
    font-weight: 300;
}

.input::-moz-placeholder{
    padding-left:0.5rem;
    font-weight: 300;
}

.input:-ms-input-placeholder{
    padding-left:0.5rem;
    font-weight: 300;
}

.input::-ms-input-placeholder{
    padding-left:0.5rem;
    font-weight: 300;
}

.input::placeholder{
    padding-left:0.5rem;
    font-weight: 300;
}

.input-btn{
    width:50px;
    height:50px;
    background-color: var(--bg-green-hover);
    border:transparent;
    color:var(--white);
    transition:all .3s linear;
    
}

.input-btn:hover{
    background-color: var(--bg-green);
}

.input-btn:active{
    background-color: var(--bg-green);
}

.form-modal{
    position:absolute;
    background-color: rgba(2, 2, 2, 0.74);
    top:0;
    left:0;
    width: 100%;
    height:100%;
    display:none;
   
}

.modal-flex-container{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.modal-window{
    width: 90%;
    background-color: var(--white);
    padding-top:2rem ;
    border-radius: 3px;
}

.modal-btn{
    width: 20%;
    text-transform: uppercase;
    margin: 0 0.5rem 0.5rem 0.5rem;
    padding:5px 5px;
    background-color: var(--bg-green);
    font-size: 12px;
    letter-spacing: 1.8px;
    border:transparent;
    border-radius: 3px;
    transition:all .2s linear;
}



.custom-h2-modal{
    font-weight: 300;
    font-size: calc(1.25rem + .3vw);
    letter-spacing: 0.4px;
    line-height: 1.4;
    width: 100%;
    margin: 0 0 1rem 0;
    /* padding: 0 4px; */

}
/* Download */

.download{
    background-color: var(--bg-grey);
    padding:4rem 0;
}

.download-style{
    background-color: var(--bg-green);
    height: 50px;
}

.test-dow {
    position:relative;
    
}
.test{
    position:absolute;
    bottom: -100%;
    right:0;
    transform: translateY(50%);
    border-radius: 5px;
    background-color: rgba(49, 49, 49, 0.63);
    color:var(--white);
    visibility: hidden;

}

.custom-h2--dowload {
    background-color: var(--bg-green);
    flex-basis: 85%;
    font-size: 16px;
}

.download-btn{
    flex-basis: 15%;
    background-color: var(--bg-green-hover);
    height: 50px;
    font-size: 20px;
    width: 15%;
}

.download-btn:hover .fab{
    color: var(--bg-green);
    
}

.btn-icon{
    background-color:var(--bg-green-hover);
    border:none;
    cursor: pointer;
    color:white;
    height: 100%;
    width: 50px;
}




/* Media Screens */

@media screen and (max-width:575.8px){

    /* General */
    
    .custom-h1{
        letter-spacing: 0.3px;
        font-size: 25px;
        width: 90vw;
    }

    .custom-p{
        width: 90vw;
        letter-spacing: 0.2px;
        margin: 0.5rem 0 1rem 0;
        font-size: 16px;
        line-height: 18px;
    }

    .custom-btn{
        font-size: 12px;
        padding:12px 10px;
        margin-top: 0.5rem;
        width: 50%;
    }

    .custom-h2{
        font-size: 18px;
        letter-spacing: 0.2s;
        width: 90vw;
        text-align: left;
        margin: 0 ;
        
    }

    /* Firs Page */

    .fab{
        font-size: 18px;
    }

    .logo-white{
        width: 39px;
        margin-top: 0.5rem;
    }

    .main-btn{
        font-size: 38px;
    }

    /* PhotoApp */

    .photoApp{
        background-position: bottom;
        padding:2rem 0;
        background-size: 100%;
        background-repeat: no-repeat;
        background-color: #F2F4F5;
    }

    .custom-h2--app{
        margin-top: 1rem;
    }
    
    /* Design */

    .design{
        margin:3rem 0;
    }

    .green-iphone{
        width: 45%;
        margin: 0 auto;
    }

    .angle-arrow{
        font-size: 18px;
    }

    /* Comunnity */
    .custom-h2-our{
        text-align: center;
        margin-bottom: 1rem;
    }

    .community{
        padding:2rem 0 0 0;
    }

    .custome-h2-community{
        margin-top: 1rem;
    }

    /* Subscribe */

    .subscribe{
        background-position: center;
    }

    .input{
        width: 70%;
        height: 35px;
        font-size: 12px;
        border-radius: 0;
    }

    .input-btn{
        height:35px; 
        width: 20%;  
    }

    /* Downloads */

   .download{
        padding:2rem 0;
    }

    .custom-h2--download{
        font-size: 12px; 
    }

    .custom-p--download{
        text-align: center;
        font-size: 16px;
    }

    .download-style{
        height: 35px;
        margin-bottom: 0.5rem;
    }

    .download-btn{
        height:35px;
    }

}

@media screen and (min-width:576px){
    /* General */
      .custom-h1{
        letter-spacing: 0.5px;
        font-size: 30px;
        width: 90vw;
        line-height: 35px;
    }

    .custom-p{
        width: 60%;
        letter-spacing: 0.3px;
        margin: 1rem 0 1rem 0;
        font-size: 16px;
        line-height: 25px;
    }

    .custom-btn{
        font-size: 14px;
        padding:12px 18px;
        margin-top: 0.5rem;
    }

    .custom-h2{
        font-size: 22px;
        letter-spacing: 0.4s;
        text-align: left;
        margin: 0 ; 
    }

    /* First Page */

    .fab{
        font-size: 22px;
    }

    .logo-white{
        width: 50px;
        margin-top: 0.5rem;
    }

    .main-btn{
        font-size: 40px;
    }

    /* PhotoApp */

    .photoApp{
        background-position: top;
        padding:3rem 0;
        background-size: 100%;
        background-repeat: no-repeat;
        background-color: #F2F4F5;
    }

    .custom-h2--app{
        margin-top: 1rem;
    }

    /* Design */

    .design{
        margin:3rem 0;
       
    }

    .green-iphone{
        width: 35%;
        margin: 0 auto;
    }

    .angle-arrow{
        font-size: 22px;
    }

    /* Community */

    .custome-h2-community{
        font-size: 22px;
    }

    .custom-p-community{
        font-size: 16px;
        line-height: 20px;
        width: 100%;
        margin:0 0 1rem 0;
    }

    /* Subscribe */

    .subscribe{
        background-position: center;
    }

    .custom-h2-our{
        margin-bottom: 1rem;
    }

    .input{
        width: 80%;
        height: 40px;
        font-size: 12px;
    }

    .input-btn{
        height:40px; 
        width: 20%;  
    }

    .modal-window{
        width: 50%;

    }

    /* Download */

    .custom-p--download{
        width: 100%;
        text-align: center;
    }

    .custom-h2--download{
        font-size: 20px;
    }

    .download-style{
        height: 40px;
        margin-bottom: 1rem;
    }

    .download-btn{
        height:40px;
    }

}

@media screen and (min-width:768px){
    /* General */

    .custom-h1{
        letter-spacing: 0.7px;
        font-size: 33px;
        line-height: 38px;
    }

    .custom-p{
        width: 60%;
        letter-spacing: 0.3px;
        margin: 0.5rem 0 0.5rem 0;
        font-size: 18px;
        line-height: 23px;
    }

    .custom-btn{
        font-size: 16px;
        padding:15px 22px;
        margin-top: 0.5rem;
    }

    .custom-h2{
        font-size: 18px;
        letter-spacing: 0.4s;
        text-align: left;
        margin: 0 ; 
    }

    .nav-h2{
        font-size: 16px;
    }

 

    /* First Page */
    
    .fab{
        font-size: 25px;
    }

    .main-wrapper{
        min-height:85vh;
    }

    /* PhotoApp */


    .list-style{
        list-style: none;
        
    }

    .photoApp{
        background-image: url(./img/HandPhone.png);
        background-size: cover;
        background-position: top ;
        padding:4rem 0;
    }

    /* Design */

    .design{
        margin:3rem 0 0 0;
    }

    .green-iphone{
        width: 50%;
        margin: 0 auto;
    }

    .angle-arrow{
        font-size: 22px;
    }
    
    .custom-p--design{
        width: 100%;
    }

    /* Community */

    .custome-h2-community{
        font-size: 28px;
    }

    .custom-p-community{
        font-size: 16px;
        line-height: 22px;
        width: 100%;
        margin:0 0 1.5rem 0;
    }

    /* Subscribe */

    .custom-h2-our{
        margin-bottom: 1.5rem;
    }

    .input{
        width: 80%;
        height: 40px;
        font-size: 14px;
    }

    .input-btn{
        height:40px; 
        width: 20%;  
    }

    .modal-window{
        width: 30%;

    }

    /* Download */
    
    .custom-p--download{
        width: 100%;
        text-align: center;
        margin-bottom: 2rem;
    }

    .custom-h2--download{
        font-size: 22px;
    }

    .download-style{
        height: 45px;
        margin: 0 0.5rem ;
    }

    .download-btn{
        height:45px;
    }
    

}

@media screen and (min-width:992px){

    /* General */
    .custom-p--download{
        width: 70%;
        font-size: 14px;
    }

    .custom-p--design{
        width: 70%;
        font-size: 14px;
    }

    .custom-p--app{
        width: 50%;
        font-size: 14px;
    }

    .custom-h2--app{
        width: 50%;
    }

}
